.link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: darkslateblue;
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
}

.link:global(.active) {
    background-color: slategray;
    color: white;
}

.navbarAuth {
    display: flex;
    gap: 10px;
    justify-content: center;
}